footer
    .footer
        div &copy; 2019 - #{new Date().getFullYear()} #{data.site.company}
        ul.footer__list
            li
                a(href=`${baseUrl}privacy`) Privacy
            li
                a(href=`${baseUrl}terms`) Terms