extend _component/layout/base
block config
    -
        var title = "Welcome to Quick Blog"
        var description = "Using super Quick Blog is easy and you can get 100/100 score on Google pagespeed insights"
block content
    .welcome
        h1=title
        p.welcome__description=description
        a.scroll-down(href="#continue")
            span click to continue reading or scroll down
            span.continue-arrow
    .content
        #continue
        h2 Firstly, let's write some content
        p
            | The sources of Quick Blog can be found on GitHub at
            | #{" "}
            a(href="https://github.com/biancalina") Quick Blog
        blockquote.blockquote
            .blockquote__body
                p You don't have to be good to start
            .blockquote-footer
                a(href="http://bitbee.uk", target="_blank") Bianca Andrei
        p.lead Lorem ipsum dolor sit amet consectetur iure nisi in pariatur neque, rerum similique sit alias soluta eum voluptates omnis quo fugiat odio velit temporibus numquam magni? Consequuntur, laborum debitis blanditiis consectetur cupiditate ducimus tenetur?Reiciendis commodi quae fugit error ar
        p
            small Lorem ipsum dolor sit amet consectetur iure nisi in pariatur neque, rerum similique sit alias soluta eum voluptates omnis quo fugiat odio velit temporibus numquam magni? Consequuntur, laborum debitis blanditiis consectetur cupiditate ducimus tenetur?Reiciendis commodi quae fugit error ar
        a.top(href="#top")
            span Top
            span.top-arrow
